<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Group</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Create a Group</h1>
    <form method="POST">
        <div>
            <label for="name">Name:</label>
            <input required type="text" name="name" id="name" >
        </div>
        <div>
            <label for="owner">Owner: </label>
            <select name="owner" id="owner">
                <%if(typeof(users)!='undefined'){
                    for(let user of users){%>
                    <option value="<%=user.email%>"> <%= user.email %> </option>
                    <%}}%>
            </select>
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
    <% if(typeof(message)!='undefined'){ %>
        <p><%= message%></p>
    <%}%>
</body>
</html>
