<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groups</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>Groups</h1>
    <% if(typeof(groups)!='undefined'){ %> <% for(let group of groups){ %>
    <p><a href="/group/<%=group.id%>"><%=group.name%></a></p>
    <%}%> <%}%>
  </body>
</html>
