<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="www/css/normalize.css">
    <link rel="stylesheet" href="www/css/styles.css">
</head>
<body>
    <h1>Password reset allowed</h1>
    <% if(typeof(user)!='undefined'){ %>
        <form method="post" action="/recoverpassword">
            <input type="hidden" id="email" name="email" value="<%=user.email%>">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" >
            <br>
            <label for="confirmpassword" >Confirm Your Password</label>
            <input type="password" id="confirmpassword" name="confirmpassword" >
            <br>
            <input type="submit" >
        </form>
    <%}%>
</body>
</html>
