<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="new-account col-md-6">
                <div class="bg-primary text-white text-center py-2">
                    <h1>User Registration</h1>
                </div>
                <form method="post" action="/register" class="p-5 rounded" style="background-color: #caf0f8;">
                    <div class="row mb-3">
                        <label for="firstName" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col">
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Password:</label>
                        <div class="col">
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password:</label>
                        <div class="col">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="td" name="td" required>
                        <label class="form-check-label" for="td">By clicking the box, you agree to the TTRP User Agreement, Privacy Policy, and Cookie Policy</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <p class="mt-3">Already have an account? <a href="/login.ejs">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
    <% if(typeof('errors')!='undefined'){%>
    <div class="errors">
        
            <% for (let err of errors) { %>
                <p><%= err.msg %></p>
            <% } %>
        
    </div>
    <% } %>
    <footer class="bg-dark text-white text-center py-2">
        &copy; 2023 By Team 4
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>

</html>
